/*
  Buttons
 */

.btn-primary,
.btn-primary--lg,
.btn-secondary,
.btn-secondary--lg {
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: border-color .3s ease;
  padding: 0 20px;
  min-width: 140px;
  text-transform: uppercase;
  outline: none;
}

/******************************Material Buttons*******************************************/

.j169 {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  font-size: 0.875rem;
  min-width: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-height: 36px;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
}
.j169:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}
.j169.j179 {
  color: rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .j169:hover {
    background-color: transparent;
  }
}
.j169:hover.j179 {
  background-color: transparent;
}
.j170 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.j171 {
  color: #2196f3;
}
.j171:hover {
  background-color: rgba(33, 150, 243, 0.08);
}
@media (hover: none) {
  .j171:hover {
    background-color: transparent;
  }
}
.j172 {
  color: rgb(225, 0, 80);
}
.j172:hover {
  background-color: rgba(225, 0, 80, 0.08);
}
@media (hover: none) {
  .j172:hover {
    background-color: transparent;
  }
}
.j173 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}
.j174 {
  color: inherit;
}
.j175 {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}
.j175.j178 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.j175:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.j175.j179 {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
.j175:hover {
  background-color: #d5d5d5;
}
@media (hover: none) {
  .j175:hover {
    background-color: #e0e0e0;
  }
}
.j175:hover.j179 {
  background-color: rgba(0, 0, 0, 0.12);
}
.j176 {
  color: #fff;
  background-color: #2196f3;
}
.j176:hover {
  background-color: #1976d2;
}
@media (hover: none) {
  .j176:hover {
    background-color: #2196f3;
  }
}
.j177 {
  color: #fff;
  background-color: rgb(225, 0, 80);
}
.j177:hover {
  background-color: rgb(157, 0, 56);
}
@media (hover: none) {
  .j177:hover {
    background-color: rgb(225, 0, 80);
  }
}
.j180 {
  width: 56px;
  height: 56px;
  padding: 0;
  min-width: 0;
  font-size: 24px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.j180:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 12px 17px 2px rgba(0, 0, 0, 0.14),0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.j181 {
  width: 40px;
  height: 40px;
}
.j182 {
  padding: 7px 8px;
  min-width: 64px;
  font-size: 0.8125rem;
  min-height: 32px;
}
.j183 {
  padding: 8px 24px;
  min-width: 112px;
  font-size: 0.9375rem;
  min-height: 40px;
}
.j184 {
  width: 100%;
}



/***************************************************************************/

.btn-primary,
.btn-primary--lg {
  color: $curious-blue;
  border: 2px solid $spindle;

  &:active {
    background: $zumthor;
    border-color: $curious-blue;
  }

  &:hover {
    border-color: $curious-blue;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-secondary,
.btn-secondary--lg {
  color: $scorpion;
  border: 2px solid $dusty-gray;

  &:active {
    background: $gallery;
    border-color: $dusty-gray;
  }

  &:hover {
    border-color: $scorpion;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-primary, .btn-secondary {
  height: 44px;
}

.btn-primary--lg, .btn-secondary--lg {
  height: 54px;
}

.btn-green {
  background-color: #02c9b1; // TODO: reusable color in colors.css
}

.btn-clear {
  background: $white;
  text-align: center;
  padding: .8rem 1rem;
  /*color: $curious-blue;#2196f3*/
  color: #2196f3;
  border: 2px solid $spindle;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;

  &:hover {
    border-color: $curious-blue;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-cancel {
  background: $white;
  text-align: center;
  padding: .9rem 1rem;
  color: $scorpion;
  border: 2px solid $dusty-gray;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;

  &:hover {
    border-color: $scorpion;
  }
}

.btn-confirm {
  background-color: $caribbean-green; // TODO: reusable color in colors.css
  text-align: center;
  padding: .8rem 1rem;
  color: $white;
  border: 2px solid $caribbean-green;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;
}

// No longer used in flat design, remove when modal buttons done
// div.wallet-btn {
//   border: 1px solid rgb(91, 93, 103);
//   border-radius: 2px;
//   height: 30px;
//   width: 75px;
//   font-size: 0.8em;
//   text-align: center;
//   line-height: 25px;
// }

// .btn-red {
//   background: rgba(254, 35, 17, 1);
//   box-shadow: 0px 3px 6px rgba(254, 35, 17, 0.36);
// }

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: .5;
  // background: rgba(197, 197, 197, 1);
  // box-shadow: 0 3px 6px rgba(197, 197, 197, .36);
}

// button.spaced {
//   margin: 2px;
// }

// button:not([disabled]):hover, input[type="submit"]:not([disabled]):hover {
//   transform: scale(1.1);
// }
// button:not([disabled]):active, input[type="submit"]:not([disabled]):active {
//   transform: scale(0.95);
// }

button.primary {
  padding: 8px 12px;
  background: #f7861c;
  box-shadow: 0 3px 6px rgba(247, 134, 28, .36);
  color: $white;
  font-size: 1.1em;
  font-family: Roboto;
  text-transform: uppercase;
}

.btn-light {
  padding: 8px 12px;
  // background: #FFFFFF; // $bg-white
  box-shadow: 0 3px 6px rgba(247, 134, 28, .36);
  color: #585d67; // TODO: make reusable light button color
  font-size: 1.1em;
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #979797; // #TODO: make reusable light border color
  opacity: .5;
}

// TODO: cleanup: not used anywhere
button.btn-thin {
  border: 1px solid;
  border-color: #4d4d4d;
  color: #4d4d4d;
  background: rgb(255, 174, 41);
  border-radius: 4px;
  min-width: 200px;
  margin: 12px 0;
  padding: 6px;
  font-size: 13px;
}

.btn-tertiary {
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 42px;
}
